
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// // Variables
// @import "variables";

// // Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "multirange";

.titre{

	display :flex;
	justify-content: center;
	border:5px black solid; 
	padding-top: 3em;

}

h1{
	padding-top: -3em;
	padding-bottom: 2em;
	height: 10em;

}

.head{ 
	margin-top:5em;
	display :flex;
	justify-content:space-around;

}


.Html{

	display : inline-flex;
	margin-top: 2em;
}

textarea {
	border-radius: 1em ;

	border:3px black solid; 
	padding-top: 3em;


}

.divTextarea {

	display :flex;
	justify-content: center;
	margin-top: 3em;

}

.background{

	background-color:#E53A40;
}
body{
	background-color:#E53A40;

}

